@model IEnumerable<Esmeralda.Models.AdminProfile>
@Html.Partial("_HeaderBar")

@if (User.IsInRole("Admin"))
{

    @Html.Partial("_AdminBar")
}


@if (User.IsInRole("User"))
{

    @Html.Partial("_UserBar")
}

@if (!User.IsInRole("User") && (!User.IsInRole("Admin")))
{

    @Html.Partial("_DefaultUserBar")
}

<div class="main">
    <div class="row">
        <div class="col 12">
            <h5>RESTAURANTES</h5>
        </div>
    </div>
    <div class="sectionthree">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="grid-rest">
                    @foreach (var item in Model)
                    {
                        <div class="col s12 m3 l2">
                            <div class="card">
                                <div class="card-content">
                                    <div class="center">
                                        <a asp-action="Meals" asp-controller="User" asp-route-id="@item.AdminProfileId"><img class="responsive-img" src="~/img/restaurants/userdefault.png" /></a>
                                    </div>                                    
                                    <div class="divider"></div>
                                    <p>Los mejores restaurantes en gofood</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
