@model Esmeralda.Models.Meal
@{
    ViewBag.Title = "Detalles";
}
@Html.Partial("_HeaderBar")
@Html.Partial("_AdminBar")

<div class="main">
    <div class="row">
        <div class="col l12">
            <h5> DETALLES ALIMENTO </h5>
        </div>
    </div>
    <div class="col s6">
        <form>
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nombre de Alimento</label>
                <p class="lead">@Model.MealName</p>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <p>@Model.Description</p>
            </div>
            <div class="form-group">
                <label>Precio</label>
                <p>@Model.Price</p>
            </div>
            <div class="form-group">
                <label>Calorias</label>
                <p>@Model.Cal</p>
            </div>
            <div class="form-group">
                <label>Categoria de alimento</label>
                <select class="browser-default" asp-for="@Model.CategoryId" asp-items="@ViewBag.Category" class="form-control" id="disabled" disabled></select>
            </div>
            <div>
                <a asp-action="Manage" class="btn btn-sm btn-default"><i class="fa fa-arrow-left fa-fw"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>




    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
