@model IEnumerable<Esmeralda.Models.Meal>

@{
    ViewBag.Title = "Manage";
}
@Html.Partial("_HeaderBar")
@Html.Partial("_AdminBar")
<div class="main">
    <div class="row">
        <div class="col-lg-12">
            <h5>ALIMENTOS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12">
            <form asp-action="Manage" asp-controller="Admin">
                <div class="row">
                    <div class="col s12 card">
                        <div class="col s10 m11 searchtable no-padding">
                            <input type="text" placeholder="Search" />
                        </div>
                        <div class="col s2 m1 searchtable no-padding">
                            <input type="submit" class="btnsearch" />
                        </div>
                    </div>

                </div>
            </form>
            <div class="responsive-table">
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio Unitario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modeItem => item.MealName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.MealId" class="black-text"><i class="fa fa-pencil fa-fw"></i></a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.MealId" class="black-text"><i class="fa fa-info fa-fw"></i></a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.MealId" class="black-text"><i class="fa fa-trash fa-fw"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}