@model IEnumerable<Esmeralda.Models.ApplicationUser>
@{
    ViewBag.Title = "Restaurantes";
}
@Html.Partial("_HeaderBar")

@if (User.IsInRole("Admin"))
{

    @Html.Partial("_AdminBar")
}


@if (User.IsInRole("User"))
{

    @Html.Partial("_UserBar")
}

@if (!User.IsInRole("User") && (!User.IsInRole("Admin")))
{

    @Html.Partial("_DefaultUserBar")
}


<div class="main" ng-app="ui.bootstrap.demo">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <div class="user-info-wrapper">
                        <div class="user-info-profile-image">
                            <i class="fa fa-user fa-4x "></i>
                        </div>
                        <div class="user-info">
                            <div class="user-welcome">Bienvenido</div>

                            <div class="username">Usuario: <strong>@User.Identity.Name</strong></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a asp-action="UserPanel" asp-controller="User"><i class="fa fa-envelope fa-fw fa-3x"></i>Ordenes</a>
                </li>
                <li>
                    <a asp-action="Restaurants" asp-controller="User"><i class="fa fa-cutlery fa-fw fa-3x"></i>Restaurantes</a>
                </li>
                <li>
                    <a asp-action="Configuration" asp-controller="User"><i class="fa fa-wrench fa-fw fa-3x"></i>Configuración</a>
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-success"> RESTAURANTES </h2>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        <hr>
        <div class="rfow">
            @*<div class="col-lg-10 col-xs-12 col-lg-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-cutlery fa-fw"></i>Restaurantes
                        <div class="input-group ">
                            <input type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>*@

            <!--RESTAURANTES PANEL-->
            <div class="rtow">
                <table class="table-condensed" ng-controller="RatingDemoCtrl">
                    <tr>
                        <td>
                            <a asp-action="Meals" asp-controller="User">
                                <img class="img-circle" style="width: 100px;" src="~/img/comidachina.jpg" />
                            </a>
                            <div class="stars">
                                <i> </i>
                            </div>
                            
                            @*Rating<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="text-warning"></uib-rating>(1078)*@

                        </td>
                        @*<td>
                                <a asp-action="Meals" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Ver alimientos</a>
                            </td>*@
                    </tr>
                    <tr>
                        <td>

                            <img class="img-circle" style="width: 100px;" src="~/img/deligourmet.png" />

                            @*Rating<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="text-warning"></uib-rating>(8538)*@
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <img class="img-circle" style="width: 100px;" src="~/img/giussepis.jpg" />

                            @*Rating<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="text-warning"></uib-rating>(2588)*@
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <img class="img-circle" style="width: 100px;" src="~/img/ricardos.jpg" />

                            @*Rating<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="text-warning"></uib-rating>(4578)*@
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <img class="img-circle" style="width: 100px;" src="~/img/postres.png" />

                            @*Rating<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="text-warning"></uib-rating>(3378)*@
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <img class="img-circle" style="width: 100px;" src="~/img/tonka.jpg" />

                            @*Rating<uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="text-warning"></uib-rating>(3208)*@
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img class="img-circle" style="width: 100px;" src="~/img/coming-soon_logo.png" />
                            </td>
                            <td>
                                @item.UserName          
                            </td>
                            <td>
                                <a asp-action="Meals" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Ver alimientos</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!--CIERRA RESTAURANTES PANEL-->
            <!-- /.panel-heading -->
            <!-- /.panel-body -->
        </div>
    </div>
</div>




<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/angular-animate/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<script src="~/js/example.js"></script>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



